.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post {
    background-color: #fff;
    max-width: 500px;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}
.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avator {
    margin-right: 10px;
}